record(bi, "$(P)$(R)")
{
    field(DTYP, "asynUInt32Digital")
    field(INP,  "@asynMask($(PORT),$(ADDR),$(MASK))DIGITAL_INPUT")
    field(ZNAM, "Low")
    field(ONAM, "High")
    field(SCAN, "I/O Intr")
}
